.product-reviews-wrapper {
  display: flex;
  flex-flow: column wrap;
  width: 600px;
}

.readMore-reviews {
  background: none;
  border: 0px;
  padding: 0px;
  text-align: left;
  font-weight: 300;
  font-size: 22px;
}

.readMore-reviews:hover {
  cursor: pointer;
}

.reviewBtn {
  border: none;
  text-align: left;
  background-color: rgba(228, 193, 177, 1);
  margin-bottom: 13px;
}
