.product-reviews-wrapper {
  display: flex;
  flex-direction: column;
}

.product-reviews-wrapper h1 {
  font-size: 22px;
  margin-bottom: 30px;
}

.readMore-reviews {
  background: none;
  border: 0px;
  padding: 0px;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.8);
}

.readMore-reviews:hover {
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .product-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
  }
}
