.reviewer-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.reviewer-wrapper h1 {
  font-size: 22px;
}

.display-reviews-image {
  width: 80px;
}

.display-reviews-image img {
  width: 100%;
}

.reviewer-info {
  display: flex;
}

.reviewer-info-text {
  display: flex;
  flex-direction: column;
}

.reviewer-name {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

.review-time {
  font-size: 16px;
  font-weight: 500;
}

.product-review-rating {
  align-self: start;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}

.product-review-rating img {
  margin-right: 5px;
  width: 20px;
}

.review-description {
  margin-bottom: 20px;
}

.reviewer-description p {
  font-size: 16px;
  font-weight: 500;
}

}
