.read-more-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 16px;
}
.read-more-button:hover {
  cursor: pointer;
}
.read-more-button img {
  width: 30px;
}
