.read-more-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 24px;
}
.read-more-button:hover {
  cursor: pointer;
}
.read-more-button button svg {
  font-size: 30px;
}
