* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.favorite-list-view {
  margin: 50px auto;
  width: 850px;
  display: flex;
  flex-direction: column;
  background-color: #e4c1b1;
}

.rendered-product {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.my-favorites {
  font-size: 50px;
  text-transform: uppercase;
  margin: 40px 0;
}

.fav-modal-buttons button {
  width: 30%;
  padding: 5px;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .list-view {
    width: 480px;
  }
}

@media only screen and (max-width: 480px) {
  .list-view {
    width: 480px;
  }
}
