.item-info-two {
  padding: 0.2rem calc((100vw - 1000px) / 2);
  font-size: 15px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.view-remove-button {
  width: 10px;
  font-size: 10px;
  font-weight: 3px;
}
