.cart-wrapper {
  /* /* width: 100vw; */
  width: 800px;
  justify-content: center;
  margin: 0 auto;
  /* border: solid 2px black; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  /* background-color: #e4c1b1; */
}
/* .cart-wrapper > div:not(.line) {
  border: 2px solid black;

  padding: 1em;
}

.line {
  grid-column-start: 1;
  grid-column-end: 6;
  height: 2px;
  border-bottom: 1px solid black;
  width: 100%;
} */
