@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-list-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 413px;
  background-color: rgba(228, 193, 177, 1);
  margin-bottom: 50px;
}
.rendered-product {
  padding: 24px 72px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.product {
  width: 333px;
  height: 433px;
  margin: 15px 10px;
}
/* .product img {
  object-fit: cover;
  width: 100%;
  height: 333px;
} */
/* .product p {
  color: black;
  text-align: left;
  padding: 10px;
  font-family: Montserrat;
} */
@media only screen and (max-width: 1200px) {
  .collection-page-container {
    margin: auto;
    width: 1200px;
  }
  .rendered-product {
    padding: 10px 25px;
  }
  .product {
    width: 303px;
    height: 403px;
  }
}
@media only screen and (max-width: 992px) {
  .collection-page-container {
    margin: auto;
    width: 990px;
  }
  .rendered-product {
    padding: 10px;
  }
  .product {
    width: 233px;
    height: 333px;
  }
}
@media only screen and (max-width: 768px) {
  .collection-page-container {
    margin: auto;
    width: 768px;
  }
  .rendered-product {
    padding: 20px;
  }
  .product {
    width: 293px;
    height: 393px;
    margin: 10px 10px;
  }
}
@media only screen and (max-width: 600px) {
  .collection-page-container {
    margin: auto;
    width: 600px;
  }
  .rendered-product {
    padding: 10px 0px;
  }
  .product {
    width: 233px;
    height: 333px;
    margin: 10px 10px;
  }
}
