.product-final-option {
  display: flex;
  flex-flow: row;
  top: 10px;
  gap: 40px;
}

.View-item-payment-titles {
  font-size: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.View-item-payment-details {
  font-size: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
