.go-back-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: 600;
  color: rgba(33, 33, 33, 0.8);
}
.go-back-button:hover {
  cursor: pointer;
}
.go-back-button button svg {
  font-size: 30px;
}
