.product-wrapper {
  margin-top: 58px;
  display: grid;

  column-gap: 24px;
}

@media only screen and (max-width: 576px) {
  .product-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
  }
}
