.related-items {
  display: flex;
  flex-flow: column wrap;
  margin-top: 40px;
}

.related-items-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 25px 35px;
}

.realtedItems-heading {
  margin: 25px 35px;
}
