.related-items {
  grid-column: 1 / span 12;
  grid-row: 3 / span 1;
}

.related-items-display {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 25px 0px;
  position: relative;
}
.relatedItems-heading {
  text-align: left;
}

.related-items-display h2,
.related-items-display p {
  font-size: 16px;
  font-weight: 600;
}

.back-carousel {
  position: absolute;
  top: 140px;
  left: 3px;
  z-index: 1;
}

.after-Carousel {
  position: absolute;
  top: 140px;
  right: 3px;
  z-index: 1;
}

@media only screen and (max-width: 578px) {
  .related-items-display {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .related-items-display > div {
    margin-bottom: 0;
  }

  .related-items-back {
    display: none;
  }

  .related-items-forward {
    display: none;
  }
}
