.product-view-description {
  grid-column: 3 / span 6;
}

@media screen and (max-width: 768px) {
  .product-view-description {
    justify-content: center;
    height: fit-content;
  }
}
@media only screen and (max-width: 576px) {
  .product-view-description {
    grid-column: 1 / span 7;
    margin-top: 10px;
    font-size: 16px;
  }
}
