* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.view-dropdown-select {
  width: 250px;
  height: auto;
  padding: 18px 12px 18px 12px;
  font-size: 18px;
  font-weight: 650;
  position: relative;
  color: #212121cc;
  background-color: inherit;
  margin-top: 10px;
}
.all-filters {
  background: url('../../assets/all-filter-icon.svg') no-repeat;
  background-position: right 10px top 50%;
  appearance: none;
}

@media only screen and (max-width: 768px) {
  .view-dropdown-select {
    width: 90%;
    padding: 16px 10px;
  }
}
