.view-dropdown label {
  margin-bottom: 10px;
  display: block;
  font-size: 22px;
  font-weight: 600;
  width: 22px;
}

.view-dropdown select {
  padding: 15px 10px;
  width: 80%;
  font-size: 16px;
  font-weight: 600;
  color: rgba(33, 33, 33, 0.8);
  background-color: #e4c1b1;
}
