* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-view {
  margin: 50px auto;
  width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e4c1b1;
}
