.shopping-cart-page {
  background-color: #e4c1b1;
}

.shopping-cart-container {
  margin: 0 auto;
  max-width: 800px;
}

.shopping-cart-page-back {
  display: flex;
  align-items: center;
  margin: 20px auto 20px 0;
  text-decoration: none;
}
.shopping-cart-page-back a,
.shopping-cart-page-back a:visited {
  text-decoration: none;
  color: #636363;
  font: inherit;
  font-size: inherit;
}

.shopping-cart-blank {
  height: 200px;
  background-color: #ececec;
}

@media screen and (max-width: 768px) {
  .shopping-cart-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 10px;
  }
}

@media screen and (max-width: 576px) {
  .shopping-cart-page {
    max-width: 100%;
  }

  .shopping-cart-blank {
    height: 50px;
    background-color: #ececec;
  }
}
