.shopping-cart-page {
  background-color: #e4c1b1;
}

.shopping-cart-container {
  margin: 0 auto;
  max-width: 800px;
}

.shopping-cart-page-back {
  margin-bottom: 30px;
}

.shopping-cart-blank {
  height: 200px;
  background-color: #ececec;
}

@media screen and (max-width: 768px) {
  .shopping-cart-container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .shopping-cart-container {
    max-width: 90%;
  }
}
