.main {
  background-color: #E4C1B1;
}

.shop-our-collections {
  width: 343px;
  font-family: 'Montserrat';
  color: #212121;
  font-weight: 700;
  Size: 32px;
  line-height: 39px;
  text-align: Center;
}

.img-women-accessories {
  height: 395px;
  width: 700px;
}

.img-men-accessories,
.img-handbag,
.img-woman-glass,
.img-pearl-earring {
  height: 180px;
  width: 350px;
}

.img-closet {
  height: 396px;
  width: 692px;
}

.upper-img-container {
  display: flex;
  width: 1128px 396px;
  justify-content: center;
  gap: 78px;
  margin-top: 45px;
  margin-bottom: 40px;
}

.upper-right-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.lower-img-container {
  display: flex;
  width: 1128px 396px;
  justify-content: center;
  gap: 78px;
}

.lower-left-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.shopnow-button {
  width: 186px;
  height: 66px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 100px;
  margin-top: 64px;
  margin-bottom: 47px;
  font-family: 'Poppins';
  font-weight: 700;
  Size: 24px;
  line-height: 36px;
}