.cart-table-headers {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  background-color: #cea086;
  padding: 17px;
}

.cart-table-blank {
  grid-column: 1 / span 1;
}

.cart-table-desc {
  grid-column: 2 / span 3;
}

.cart-table-amount {
  grid-column: 5 / span 2;
}

.cart-table-quantity {
  grid-column: 7 / span 2;
}

.cart-table-total {
  grid-column: 9 / span 2;
}

.cart-table-action {
  grid-column: 11 / span 2;
}

.cart-table-products {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .cart-table-headers {
    font-size: 12px;
    padding-left: 0;
    gap: 20px;
  }
}
