.cart-selected-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: left;
}

.cart-selected-blank {
  grid-column: 1 / span 1;
}

.cart-selected-desc {
  grid-column: 2 / span 3;
}

.cart-selected-amount {
  grid-column: 5 / span 2;
}

.cart-selected-quantity {
  grid-column: 7 / span 2;
}

.cart-selected-total {
  grid-column: 9 / span 2;
}

.cart-selected-action {
  grid-column: 11 / span 2;
}

.cart-selected-action button {
  border: none;
  background-color: inherit;
}

.cart-selected-action button:hover {
  cursor: pointer;
}
