* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.product-card-wrapper {
  width: 250px;
  background-color: rgba(206, 160, 134, 1);
  border-radius: 50px;
  padding: 10px 0 25px 0;
}

.product-img-wrapper {
  position: relative;
}

.product-img {
  height: 233px;
  border-radius: 50px;
}

.cart-favorite-wrapper {
  position: absolute;
  top: 10px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  width: 40px;
  border: 1px solid black;
  border-radius: 12px;
}

.cart-favorite-wrapper img {
  width: 24px;
}

.product-title {
  padding-top: 20px;
  text-align: start;
}

.product-card-wrapper p,
.product-card-wrapper h2 {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
}

.price-rate-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
}
.product-price-wrapper p {
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
}

.product-rate-wrapper {
  display: flex;
  align-items: center;
}
.product-rate-wrapper p {
  font-size: 20px;
}
.product-rate-wrapper img {
  width: 25px;
}
@media screen and (max-width: 768px) {
  .product-card-wrapper {
    width: 220px;
  }
  .product-img {
    height: 200px;
  }
  .cart-favorite-wrapper {
    right: 25px;
    height: 70px;
  }
  .product-title {
    padding-top: 15px;
  }
  .price-rate-wrapper {
    width: 220px;
    padding-right: 5px;
  }
  .product-price-wrapper p {
    font-size: 20px;
  }
  .product-rate-wrapper img {
    width: 23px;
  }
}
